body {
    margin:0;
}
#resume {
    width:800px;
    margin: 0 auto;
    /* border:2px solid black; */
    /* 父元素设置为弹性盒子实现子元素高度自适应父元素 */
    display:flex;
}
h1 {
    text-align:center;
    color:white;
    background-color: #65A5FA;
    width:10%;
    margin:0;
    padding:50px;
    /* border:2px solid rgb(233, 15, 15); */
}
.topic {
    font-weight: bold;
    margin-right:8px;
    margin-bottom: 0px;
}
.space {
    margin-right:32px;
    display: inline-block;
}
.summary {
    margin-top:0px;
}
.text {
    margin-left:20px;
}