html,body {
    height:100%;
}
* {
    margin: 0px;
    padding: 0px;
}
.clear {
    clear: both;
}
header {
    height: 60px;
    background-color:#333333;
}
.logo {
    width: 960px;
    /* 块元素水平居中 */
    margin: 0 auto;
    color:white;   
}
h2 {
    line-height: 60px;
    float:left;
}
.menu-top {
    float:right;
}
.menu-top li {
    list-style-type: none;
    margin-left:5px;
    display: inline;
}
a:link,:visited {
    color:white;
}
.banner {
    height: 200px;
    background-color: #66BB33;
}
.carousel {
    width: 960px;
    margin: 0 auto;
}
.page {
    float: right;
    margin-top:155px;    
}
.page li{
    color:#598440;
    width:20px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    /* 行内块对齐方式 */
    vertical-align: bottom;
    list-style-type: none;
    margin-left:5px;
    border: 1px solid black;
    background-color: #B2DD99;
    display: inline-block;
}
ul li.page-select {
    color:#697A5F;
    width:20px;
    height: 35px;
    line-height: 45px;
    background-color:#E0F1D6;
}
nav {
    height: 60px;
    border-bottom:1px solid #E1E1E1;
}
.menu {
    width: 960px;
    height: 60px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.menu-middle li{
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
    list-style-type: none;
    /* 设置边框后再去除底部边框 */
    border: 1px solid #E1E1E1;
    border-bottom-style:none;
    border-radius:15px  15px 0px 0px;
    background-color: #EEEEEE;
    display: inline-block;
    float: left;
}
ul li.menu-select {
    background-color:white;
}
section {
    height: auto;
}
.main {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
}
.main div {
    margin:5px 5px 5px 0px;
    padding:80px;
    border: 1px solid #E1E1E1;
    text-align: center;
}
.content1,.content2 {
    width:180px;
}
.content3 {
    width:90px;
}
.content4,.content5,.content6,.content7 {
    width:70px;
}
.content8,.content9,.content10 {
    width:150px;
}
footer {
    height: 100px;
    background-color: #666666;
    color: white;
    text-align: center;
    line-height: 50px;
}