html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
/* 浮动布局 */
.left-1 {
    /* 1、左右栏固定宽度，中间自适应 */
    /* 2、左中栏固定，右栏自适应 */
    width: 200px;
    
    height: 100%;
    background-color: blue;
    float: left;
}
.middle-1 {
    /* 2、左中栏固定，右栏自适应 */
    width: 200px;
    float: left;
    
    height: 100%;
    background-color: darkseagreen;
}
.right-1 {
    /* 1、左右栏固定宽度，中间自适应 */
    /* width: 200px;
    float: right; */
    
    height: 100%;
    background-color: coral;   
}

/* 定位布局 */
.left-2 {
    /* 1、左右栏固定宽度，中间自适应 */
    /* 2、左中栏固定，右栏自适应 */
    width: 200px;
    position:absolute;

    height: 100%;
    background-color: blue;
    
}
.middle-2 {
    /* 1、左右栏固定宽度，中间自适应 */
    /* margin-left: 200px; */
    /* 2、左中栏固定，右栏自适应 */
    width:200px;
    left: 200px;
    position: absolute;
    
    height: 100%;
    background-color: darkseagreen;
}
.right-2 {
    /* 1、左右栏固定宽度，中间自适应 */
    /* width: 200px;
    top: 0;
    right:0;
    position: absolute; */
    /* 2、左中栏固定，右栏自适应 */
    margin-left: 400px;
    
    height: 100%;
    background-color: coral;
}

/* 弹性布局 */
body {
    /* 弹性盒子要在父元素设置 */
    display: flex;
}
.left-3 {
    /* 1、左右栏固定宽度，中间自适应 */
    /* 2、左中栏固定，右栏自适应 */
    width: 200px;
    
    height: 100%;
    background-color: blue;
}
.middle-3 {
    /* 1、左右栏固定宽度，中间自适应 */
    /* flex: 1; */
    /* 2、左中栏固定，右栏自适应 */
    width: 200px;

    height: 100%;
    background-color: darkseagreen;
}
.right-3 {
    /* 1、左右栏固定宽度，中间自适应 */
    /* width: 200px; */
    /* 2、左中栏固定，右栏自适应 */
    flex: 1;

    height: 100%;
    background-color: coral;
}