html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
/* 浮动布局 */
.left-1 {
    /* 1、百分比左右栏宽度 */
    /* width: 30%; */
    /* 2、固定左栏宽度，游览自适应 */
    /* width: 200px; */
    /* 3、左栏自适应，右栏固定:左边左浮动，margin-left负值,右边右浮动; */
    width: 100%;
    margin-right: -200px;

    height: 100%;
    background-color: blue;
    float: left;
}
.right-1 {
    /* 3、右栏固定 */
    width:200px;
    float: right;

    height: 100%;
    background-color: coral;   
}

/* 定位布局 */
.left-2 {
    /* 1、左右栏百分比 */
    /* width: 30%; */
    /* position: absolute; */
    /* 2、左栏固定，右栏自适应 */
    width: 200px;
    position: absolute;
    /* 3、左栏自适应，右栏固定:右边绝对定位，左边margin-right */
    /* margin-right: 200px; */

    height: 100%;
    background-color: blue;
    
}
.right-2 {
    /* 1、左右栏百分比 */
    /* margin-left: 30%; */
    /* 2、左栏固定，右栏自适应 */
    margin-left: 200px;
    /* 3、左栏自适应，右栏固定 */
    /* width: 200px;
    right: 0px;
    top: 0px;
    position: absolute; */
    
    height: 100%;
    background-color: coral;
}

/* 弹性布局 */
body {
    /* 弹性盒子要在父元素设置 */
    display: flex;
}
.left-3 {
    /* 1、左右百分比 */
    /* flex: 3; */
    /* 2、左栏固定，右栏自适应 */
    width: 200px;
    /* 3、左栏自适应，右栏固定 */
    /* flex: 1; */
    
    height: 100%;
    background-color: blue;
}
.right-3 {
    /* 1、左右百分比 */
    /* flex: 7; */
    /* 2、左栏固定，右栏自适应 */
    flex: 1;
    /* 3、左栏自适应，右栏固定 */
    /* width: 200px; */

    height: 100%;
    background-color: coral;
}