<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>三栏布局</title>
    <link rel="stylesheet" type="text/css" href="layout_2.css">
</head>
<body>
    <!-- 1、浮动布局左右固定，中间自适应，要按照左、右、中的方式 -->
    <!-- <aside class="left-1">左边栏</aside>   
    <aside class="right-1">右边栏</aside>   
    <section class="middle-1">中间栏</section> 
    <div class="clear"></div> -->
    <!-- 2、浮动布局左中固定，右自适应，要按照左、中、右的方式 -->
    <aside class="left-3">左边栏</aside>  
    <section class="middle-3">中间栏</section>  
    <aside class="right-3">右边栏</aside>      
    <div class="clear"></div>
</body>
</html>